h1 {
  color: #222;
  font-weight: bold;
}

a {
  color: #306596;
}

a:hover {
  color: #cc4731;
}

li {
  margin-bottom: 0.25rem;
}

.header {
  padding: 2em 0;
  color: #999999;
  background: #f8f8f8;
  border-bottom: 1px solid #d8e6ec;
}

.header h1 a {
  color: #222;
  text-decoration: none;
}

.header h1 a:hover {
  color: #306596;
}

.header ul {
  list-style: none;
  margin: 0;
}

.header li {
  display: inline;
}

.header li:not(:last-child):after {
  content: " | ";
  display: inline;
}

.posts {
  margin-top: 2em;
  /*font-size: 120%;*/
}

.date {
  margin-top: 1em;
}

.posts img {
  max-width: 100%;
}

h2 {
  font-size: 1.5em;
  margin-top: 0.5em;
}

.post-header {
  border-bottom: 1px solid #d8e6ec;
}

h2.post-header a {
  margin-top: 1.5em;
  color: #222;
  text-decoration: none;
}

h2.post-header a:hover {
  color: #306596;
}

.footer {
  text-align: center;
  margin-bottom: 2em;
  padding: 1em;
  background-color: #F8F8F8;
  border: 1px solid rgba(216, 230, 236, 1)
}

.footer ul {
  list-style: none;
  margin: 0
}

.footer li {
  display: inline;
}

.footer li:not(:last-child):after {
  content: " // ";
}

ol.notes {
  list-style: none;
  font-size: 90%;
}

ol.notes .avatar {
  margin: 0.2em;
}

li > ul {
    margin: 0 0 0 3rem;
}
